// Style description	: Variables for the styling
// Style author			: Marc Andrew San Buenaventra
// Created date			: 02.04.2015


///////////////////////////////////////////////////////////////////////////////////////////////////
// EM, REM or PX option
///////////////////////////////////////////////////////////////////////////////////////////////////

$unit										: px;

///////////////////////////////////////////////////////////////////////////////////////////////////
// Paragraph settings
///////////////////////////////////////////////////////////////////////////////////////////////////

$baseline-px								: 16;

$font-1										: 'Open Sans', Helvetica, Arial, sans-serif;
$font-2										: 'Roboto', Verdana, Arial, sans-serif;

$size-base									: px($baseline-px);
$size-1										: px(8);
$size-2										: px(10);
$size-3										: px(12);
$size-4										: px(14);
$size-5										: px(18);
$size-6										: px(40);
$size-7										: px(48);
$size-8										: px(63);
$size-9										: px(90);
$size-10									: px(106);

///////////////////////////////////////////////////////////////////////////////////////////////////
// Container settings
///////////////////////////////////////////////////////////////////////////////////////////////////

$full-width									: 100%;
$max-width									: px(1200);
$columns									: 12;

///////////////////////////////////////////////////////////////////////////////////////////////////
// Responsive settings
///////////////////////////////////////////////////////////////////////////////////////////////////

$desktop-view								: 900px;
$tablet-view								: 481px;
$mobile-view								: 320px;

///////////////////////////////////////////////////////////////////////////////////////////////////
// Color settings
///////////////////////////////////////////////////////////////////////////////////////////////////

$dark										: #2b2b2b;
$light										: #ffffff;

$grey1										: #666666;
$grey2										: #8a9097;
$grey3										: #d4d4d4;
$grey4										: #e4e4e4;
$grey5										: #f3f3f3;
$grey6										: #f8f8f9;
$grey7										: #fafafa;

$blue1										: #4285f4;
$blue2										: #649BF6;
$blue3										: #86B1F8;
$blue4										: #C0D6FB;

$darkblue1									: #3C79DE;
$darkblue2									: #376ECA;
$darkblue3									: #3264B6;
$darkblue4									: #2C59A2;

$red1										: #e50000;
$red2										: #ff4c4c;
$red3										: #ff7f7f;
$red4										: #ffe5e5;

$green1										: #56bf92;
$green2										: #74CAA5;
$green3										: #93D6B9;
$green4										: #B2E1CD;
$green5										: #4FAE85;

$yellow1									: #ffd828;
$yellow2									: #ffe71c;
$yellow3									: #ffef65;
$yellow4									: #fff494;

$orange1									: #F9762A;
$orange2									: #F9823D;
$orange3									: #FA8E50;
$orange4									: #FA9B64;

$turquoise1									: #00E8CC;
$turquoise2									: #2EECD5;
$turquoise3									: #5CF0DE;
$turquoise4									: #8BF4E7;

$pink1										: #ff00a3;
$pink2										: #FF2EB3;
$pink3										: #FF5CC4;
$pink4										: #FF8BD5;

$purple1									: #8866D6;
$purple2									: #9D81DD;
$purple3									: #B39DE4;
$purple4									: #C8B9EC;

$color1										: $blue4;
$color2										: $blue3;
$color3										: $darkblue2;
$color4										: $grey3;
$color5										: $grey1;
$color6										: $purple2;
$color7										: $pink3;
$color8										: $pink1;
$color9										: $red1;
$color10									: $orange1;
$color11									: $yellow1;
$color12									: $green1;
$color13									: $turquoise1;
$color14									: $green3;
$color15									: $orange4;

///////////////////////////////////////////////////////////////////////////////////////////////////
// Asset path
///////////////////////////////////////////////////////////////////////////////////////////////////

$img-path									: '../img' !default;
$icon-path									: '../img/icons' !default;
$fallback-extension							: 'png' !default;
$retina-suffix								: '@2x';
